---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
 O projeto Violão Catarinense tem como propósito valorizar e reconhecer os violonistas<br>
e compositores naturais, localizados ou naturalizados no estado de Santa Catarina.

`;
---

<Layout title="Violão Catarinense">
    <h1 class="mb-10">Projeto</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
</Layout>

